/Source/POEStashSorter/bin
/Source/POEStashSorter/obj
/Source/PoeStashSorterModels/bin
/Source/PoeStashSorterModels/obj
/source/PoeStashSorterModels/bin
/source/PoeStashSorterModels/obj
/Source/POEStashSorter/packages
/bin/AForge.Imaging.xml
/bin/AForge.Math.xml
/bin/AForge.xml
/bin/POEStashSorter.vshost.exe.manifest
/bin/WebDriver.xml
/Source/POEStashSorter/POEStashSorter.suo
*.suo
/Source/POEStashSorter/.vs
/config.bin
/bin/POEStashSorter.vshost.exe
/bin/POEStashSorter.vshost.exe.config
/bin/POEStashSorter.pdb
/bin/PoeStashSorterModels.pdb
/Source/POEStashSorter/POEStashSorter.v12.suo
/Source/PoeStashSorterModels/bin/Release/PoeStashSorterModels.pdb
/source/poestashsortermodels/bin
/Source/PoeStashSorterModels/bin/x86
