/Source/PoEStashSorter/bin
/Source/PoEStashSorter/obj
/Source/PoEStashSorterModels/bin
/Source/PoEStashSorterModels/obj
/Source/PoEStashSorter/packages
/bin/AForge.Imaging.xml
/bin/AForge.Math.xml
/bin/AForge.xml
/bin/PoEStashSorter.vshost.exe.manifest
/bin/WebDriver.xml
/bin/*.json
/Source/PoEStashSorter/PoEStashSorter.suo
*.suo
/Source/PoEStashSorter/.vs
/config.bin
/bin/PoEStashSorter.vshost.exe
/bin/PoEStashSorter.vshost.exe.config
/bin/PoEStashSorter.pdb
/bin/PoEStashSorterModels.pdb
/Source/PoEStashSorterModels/bin/Release/PoEStashSorterModels.pdb
/Source/PoEStashSorterModels/bin
/Source/PoEStashSorterModels/bin/x86